#generate-btn {
  padding: 10px;
  margin: 30px;
}

.container {
  /* display: inline-block; */
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  background-color: white;

} /*end of containers•/
/*------BLOCK------------*/


#block {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: red;
}


#yellowBtn {
  background-color: yellow;
}

#red-fill {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: red;
}


/* .btn {
  padding: 10px;
  margin: 30px;
  margin-right: 0;
  margin-top: 80px;
} */

.delete-btn {
  margin: 50px;
  margin-left: 0;
}


/*FIRST ROW
#rowOne-btn {
  padding: 10px;
  margin: 30px;
  margin-right: 0px;
  margin-top: 80px;
}

#rowOne-delete-btn {
  padding: 10px;
  margin: 50px;
  margin-left: 0px;
}

/*Second ROW-----

#rowTwo-btn {
  padding: 10px;
  margin: 30px;
  margin-right: 0px;
  margin-top: 80px;
}

#rowTwo-delete-btn {
  padding: 10px;
  margin: 50px;
  margin-left: 0px;
}
/*Third ROW---------

#rowThree-btn {
  padding: 10px;
  margin: 30px;
  margin-right: 0px;
  margin-top: 80px;
}

#rowThree-delete-btn {
  padding: 10px;
  margin: 50px;
  margin-left: 0px;
}

#rowFour-btn {
  padding: 10px;
  margin: 30px;
  margin-right: 0px;
  margin-top: 80px;
}

#rowFour-delete-btn {
  padding: 10px;
  margin: 50px;
  margin-left: 0px;
} */
